
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight:bold;


}

.header{
    display: flex;
    align-items: center;
    background-color: rgb(69, 168, 201);
    padding: 10px;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
nav ul li{
    list-style: none;
    padding: 8px 14px;
    font-size: 13px;
    font-width:bold;
    color: #922b21  ;
}

.logo{
    padding: 0px 150px;
    width: 10%;

}
.logo-text{
    width: 95%;
    text-align: center;



}
.nav-bar{
    width: 90%;

}

.border{
    padding: 20px;
    margin: 20px;
}

.button{
    display: flex;
    justify-content: center;
}




#research {
    font-size: 18px;
    width: 100px;
    height: 23px;
    top: 23px;
}

#box {
    border-radius: 60px;
    border-color: 45px;
    border-style: solid;
    font-family: cursive;
    text-align: center;
    font-size: medium;
    position: absolute;
    width: 700px;
    bottom: 9%;
    height: 850px;
    right: 30%;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

#fuel {
    width: 125px;
    height: 43px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
     background-color:  #a3e4d7 ;
}

#fuel:hover {
    background-color: rgb(219, 236, 163);
    cursor: pointer;
}

#research {
    width: 125px;
    height: 43px;
    text-align: center;
    border-radius: 14px;
    font-size: 18px;
     background-color:  #a3e4d7 ;
}

#research:hover {
    background-color:  rgb(219, 236, 163);
    cursor: pointer;

}

#resea {
    width: 125px;
    height: 43px;
    text-align: center;
    border-radius: 14px;
    font-size: 18px;
     background-color:  #a3e4d7 ;
}

#resea:hover {
    background-color: rgb(219, 236, 163);
    cursor: pointer;
}

#sub {
    width: 160px;
    height: 70px;
    text-align: center;
    border-radius: 14px;
    font-size: 18px;
    background-color: rgb(227, 65, 98);


}

#sub:hover {
    background-color:crimson;
    cursor: pointer;
}

#first {
    border-radius: 5px;
    height: 25px;
    font-size: 20px;
    text-align: center;

}

#second {
    border-radius: 5px;
    height: 25px;
    font-size: 20px;
    text-align: center;
}

#third {
    border-radius: 5px;
    height: 25px;
    font-size: 20px;
    text-align: center;

}

#fourth {
    border-radius: 5px;
    height: 25px;
    font-size: 20px;
    text-align: center;
}





.modal {
    width: 330px;
    height: 410px;
    border-radius: 12px;
    background:  #e8f8f5   ;
    box-shadow: 5px 5px 1px #888888;
    transition: .4s;

    position:absolute;
    z-index:1;
    top:20%;

}

.modal .modal-header {
    display: flex;
    justify-content: flex-end;
    padding: 15px 18px;
}

.modal .modal-header button {
    cursor: pointer;
    font-size: 22px;
    color: #21202c;
    background: transparent;
}

.modal .modal-body {
    text-align: center;
}

.modal .modal-body img {
    width: 40%;
    margin: 10px 0 30px;
}

.modal .modal-body h3 {
    color: #21202c;
    font-size: 40px;
}

.modal .modal-body p {
    color: #5a586d;
    font-size: 16px;
    font-weight: 500;
}

.modal .modal-body button {
    cursor: pointer;
    margin-top: 30px;
    font-size: 22px;
    background: #fe425b;
    color: #ffffff;
    padding: 12px 120px;
    border-radius: 6px;
    letter-spacing: 1px;
    transition: .4s;
}

.modal .modal-body button:hover {
    background: #e0344b;
}

.modal#hide {
    opacity: 0;
    transform: scale(.6);
    pointer-events: none;
}

.modal#show {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}

#showButton {
    cursor: pointer;
    position: absolute;
    background: #21202c;
    color: #ffffff;
    padding: 14px 22px;
    font-size: 18px;
    border-radius: 8px;
    letter-spacing: .5px;
}

.footer {
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:60px;
  background-color:   #2c3e50  ;
color: white;
text-align: center;
}
.footer{
margin-top:25px;
}
.footer p{
font-size:12px;
color:white;

}